$pc: 1024px;
$tab: 768px;
$sp: 480px;
@mixin pc {
	@media (max-width: ($pc)) {
		@content;
	}
}
@mixin tab {
	@media (max-width: ($tab)) {
		@content;
	}
}
@mixin sp {
	@media (max-width: ($sp)) {
		@content;
	}
}

@mixin sp-ip5 {
	@media (max-width: (330px)) {
		@content;
	}
}
